infra/*.tfvars

*.tfvars
*.tfstate
*.tfstate.backup
.terraform/


flask-backend/node_modules/
express-frontend/node_modules/
flask-backend/__pycache__/
express-frontend/__pycache__/


*.swp
*.DS_Store
